.pokemon-container-results {
  width: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

#search-pokemon-results img {
  width: 24px;
  height: 24px;
}

#results {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  margin-left: 45px;
}

.error-msg {
  font-size: 24px;
  color: rgba(62, 117, 195, 1);
  text-align: center;
  background-color: rgba(62, 117, 195, 0.2);
  padding: 10px;
  border-radius: 8px;
}

.pokemon-container-result {
  width: 280px;
  height: 330px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 8px 10px rgba(239, 243, 246, 0.8),
    -8px -4px 10px rgba(239, 243, 246, 0.8);
  padding: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.pokemon-container-result:hover {
  position: relative;
  box-shadow: 10px 10px 10px 10px rgb(195, 196, 197),
    -8px -4px 10px rgb(195, 196, 197);
  transform: scale(1.1);
}

.name-type {
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.number {
  color: rgba(139, 140, 141, 0.9);
  font-size: 20px;
  margin: 0px 0px 8px;
}

.type {
  display: flex;
  gap: 20px;
}

.type img {
  width: 20px;
  height: 20px;
}

.pokemon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0px 8px 14px;
  background-color: white;
  border-radius: 50%;
}

.pokemon-img img {
  display: flex;
}

.button-load {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-pokemon {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(62, 117, 195, 1);
  padding: 18px;
  border-radius: 4px;
  background-color: rgba(62, 117, 195, 0.2);
  margin-left: 345px;
}

.load-pokemon:hover {
  color: white;
  transform: scale(1.1);
  background-color: rgba(62, 117, 195, 1);
}
