#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.btn-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

#dropdown-btn {
  height: 15px;
  width: 34px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

#logo {
  width: 260px;
  height: 60px;
}

.menu-button {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s;
  left: -30px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}

.dropdown-menu-nav {
  cursor: pointer;
  padding: 40px;
  border-radius: 1rem;
  transition: all 0.3s;
}

.dropdown-menu-nav-content {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: -100px;
  display: none;
}

.content-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: all 0.3s;
  gap: 30px;
  justify-content: start;
  width: 240px;
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

.FIGMA {
  width: 240px;
  opacity: 0.7;
}

.FIGMA:hover {
  opacity: 1;
}

.FIGMA a {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-weight: 600;
}

.DEV a {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
}

.DEV {
  width: 240px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.DEV:hover {
  opacity: 1;
}

.dropdown-menu-nav:hover .dropdown-menu-nav-content {
  display: block;
  border-radius: 1rem;
}
